@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Archivo ExtraBold';
  src: url('./assets/Archivo-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo LightItalic';
  src: url('./assets/Archivo-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo Regular';
  src: url('./assets/Archivo-Regular.ttf') format('truetype');
}

@layer utilities {
  .scroll::-webkit-scrollbar {
    width: 0.2rem;
  }

  .scroll::-webkit-scrollbar-thumb {
    background: #9cae23;
  }

  .scroll {
    scrollbar-width: thin;
    scrollbar-color: #cad583 #fdfcf8;
  }
}
