@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Archivo ExtraBold';
  src: url('./assets/Archivo-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo LightItalic';
  src: url('./assets/Archivo-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo Regular';
  src: url('./assets/Archivo-Regular.ttf') format('truetype');
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
